$primary-background: #171e26;
$primary-selected: #ffffff;
$primary-text: #d2e0f0;
$primary-border: #242d38;

$secondary-background: #10161d;
$secondary-text-color: #aebed0;
$secondary-border-color: #445161;
$secondary-hover: #374251;