<header>
    <div class="mobileHeader">
        <button (click)="toggleHeader()">Menu</button>
    </div>
    <nav [ngClass]="expandHeader ? 'showForMobile' : ''">
        <ul>
            <li>
                <a routerLink="/"
                   routerLinkActive="isActive"
                   [routerLinkActiveOptions]="{exact: true }">Home</a>
            </li>
            <li>
                <a routerLink="/explore/users" routerLinkActive="isActive">Explore</a>
            </li>
            <li>
                <a routerLink="/faq" routerLinkActive="isActive">FAQ</a>
            </li>
        </ul>
        <ul>
            <li>
                <a routerLink="/login" routerLinkActive="isActive">Login</a>
            </li>
            <li>
                <a routerLink="/register" routerLinkActive="isActive">Register</a>
            </li>
        </ul>
    </nav>
</header>