<header>
    <div class="mobileHeader">
        <button (click)="toggleHeader()">Menu</button>
    </div>
    <nav [ngClass]="expandHeader ? 'showForMobile' : ''">
        <ul>
            <li>
                <a routerLink=""
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true }">Home</a>
            </li>
            <li>
                <a routerLink="explore" routerLinkActive="active">Explore</a>
            </li>
            <li>
                <a routerLink="faq" routerLinkActive="active">FAQ</a>
            </li>
        </ul>
        <ul>
            <li>
                <a routerLink="login" routerLinkActive="active">Login</a>
            </li>
            <li>
                <a routerLink="register" routerLinkActive="active">Register</a>
            </li>
        </ul>
    </nav>
</header>